:root {
  --front-size-100: 1rem;
  --front-size-200: 2rem;
  --front-size-300: 3rem;
  --color-white-100: #ffffff;
  --color-white-200: #707070;
  --color-white-300: #3e3e3e;
  --color-black-300: #000000;
  --bg-grey: #222222;
  --btn-primary: #1e90ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: var(--front-size-200);
  height: 100vh;
  background-color: var(--bg-grey);
}
a {
  color: #000;
}
ul {
  list-style-type: none;
}
@media screen and (min-width: 320px) {
  .TT-Header {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 150px;
    display: flex;
    height: 50px;
    color: var(--color-white-200);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .TT-Header h1 {
    display: none;
  }

  .TT-Header ul {
    display: flex;
    gap: 15px;
  }

  i {
    font-size: 3rem;
  }

  .TT-Contianer {
    display: flex;
    padding: 0 10px;
    flex-direction: column-reverse;
  }
  .TT-Contianer div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .TT-Contianer h1 {
    margin-bottom: 20px;
    color: #ececec;
    font-size: 5rem;
  }
  .TT-Contianer h2 {
    width: 210px;
    border-radius: 10px;
    padding: 5px 0px;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--color-white-300);
  }
  .TT-Contianer h3 {
    color: #878787;
    margin-top: 25px;
    font-size: 2.5rem;
  }
  .TT-Contianer p {
    color: var(--color-white-200);
  }

  .TT-Contianer img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px goldenrod;
    border: 4px solid goldenrod;
    /* fill: drop-shadow(10px, 10px, #ff0000); */
  }
  .TT-Contianer ul {
    display: flex;
    gap: 50px;
    cursor: pointer;
  }
  .TT-btn {
    display: flex;
    width: 350px;
    margin: 25px 0;
    gap: 10px;
  }
  .btn {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 10px;
    width: 50%;
    color: var(--color-white-100);
    background-color: var(--btn-primary);
    border: 1px solid var(--btn-primary);
  }
  .TT-btn .btn:last-child {
    color: var(--color-white-100);
    background-color: var(--color-black-100);
    border: 1px solid var(--btn-primary);
  }
}

@media screen and (min-width: 640px) {
  .TT-Header {
    margin-top: 25px;
    margin-bottom: 150px;
    height: 50px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    color: var(--color-white-200);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .TT-Header h1 {
    display: flex;
  }
  .TT-Header ul {
    display: flex;
    gap: 10px;
  }
  span {
    color: rgba(255, 166, 0.5);
    margin-right: 15px;
  }
  i {
    font-size: 3rem;
  }

  .TT-Contianer {
    display: flex;
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
  }
  .TT-Contianer section {
    width: 45%;
  }
  .TT-Contianer h1 {
    margin-bottom: 20px;
    color: #ececec;
    font-size: 5rem;
  }
  .TT-Contianer h2 {
    width: 210px;
    border-radius: 10px;
    padding: 5px 0px;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--color-white-300);
  }
  .TT-Contianer h3 {
    color: #878787;
    margin-top: 25px;
    font-size: 2.5rem;
  }
  .TT-Contianer p {
    color: var(--color-white-200);
  }

  .TT-Contianer img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px goldenrod;
    border: 4px solid goldenrod;
  }
  .TT-Contianer ul {
    display: flex;
    gap: 50px;
    cursor: pointer;
  }
  .TT-btn {
    display: flex;
    width: 350px;
    margin: 25px 0;
    gap: 10px;
  }
  .btn {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 10px;
    width: 50%;
    color: var(--color-white-100);
    background-color: var(--btn-primary);
    border: 1px solid var(--btn-primary);
  }
  .TT-btn .btn:last-child {
    color: var(--color-white-100);
    background-color: var(--color-black-100);
    border: 1px solid var(--btn-primary);
  }
}
